Repository azureguard/daryl.one: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, check

.lefthook.yml:

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: '*.{astro,md,yaml,yml}'
      run: pnpm dlx prettier --ignore-unknown --write {staged_files}
      stage_fixed: true
    check:
      glob: '*.{css,d.ts,json,ts}'
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true

add deployment gh action
  .editorconfig
  .github/workflows/pages-deployment.yaml
Due: prettier

fix build and lint
  cv.json
  src/components/sections/Experience.astro
  src/layouts/Layout.astro
  src/pages/index.astro
  tailwind.config.ts
  tsconfig.json
Due: prettier, check

check for pages project existence and create if does not
  .editorconfig
  .github/workflows/pages-deployment.yaml
  scripts/check-pages-project.sh
  wrangler.toml
Due: prettier

remove wrangler pre-flight checks
  scripts/check-pages-project.sh
Due: none

prefix wrangler calls
  scripts/check-pages-project.sh
Due: none

cleanup
  cv.json
Due: check

add standard headers
  public/_headers
Due: none

update documentation and fix formatters
  .github/workflows/pages-deployment.yaml
  .lefthook.yml
  .prettierignore
  README.md
  biome.json
  package.json
  pnpm-lock.yaml
  prettier.config.js
  src/components/KeyboardManager.astro
  src/components/Section.astro
  src/components/ThemeSwitch.astro
  src/components/sections/About.astro
  src/components/sections/Education.astro
  src/components/sections/Experience.astro
  src/components/sections/Hero.astro
  src/components/sections/Projects.astro
  src/components/sections/Skills.astro
  src/layouts/Layout.astro
  src/pages/index.astro
Due: prettier, check

seo fixup
  astro.config.ts
  package.json
  pnpm-lock.yaml
  src/layouts/Layout.astro
Due: prettier, check

theme switching refactor
  src/components/ThemeSwitch.astro
  src/components/sections/Hero.astro
Due: prettier

remove last keyboard manager bits
  src/components/sections/Hero.astro
  src/pages/index.astro
Due: prettier

hide unnecessary expand button on mobile
  src/components/sections/Experience.astro
Due: prettier

fixup documentation
  .github/workflows/pages-deployment.yaml
  README.md
Due: prettier

patch and lint
  .editorconfig
  .github/workflows/pages-deployment.yaml
  package.json
  pnpm-lock.yaml
  src/components/sections/Education.astro
  src/components/sections/Experience.astro
  src/components/sections/Hero.astro
  src/components/sections/Projects.astro
  tsconfig.json
Due: prettier, check

patch and lint (#3)
  .editorconfig
  .github/workflows/pages-deployment.yaml
  package.json
  pnpm-lock.yaml
  src/components/sections/Education.astro
  src/components/sections/Experience.astro
  src/components/sections/Hero.astro
  src/components/sections/Projects.astro
  tsconfig.json
Due: prettier, check

update dependencies and tooling
  .github/workflows/pages-deployment.yaml
  .prettierignore
  biome.json
  mise.toml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier, check

update dependencies and tooling (#4)
  .github/workflows/pages-deployment.yaml
  .prettierignore
  biome.json
  mise.toml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier, check

chore: upgrade to Astro 6 + Tailwind v4 and refresh tooling
  .gitignore
  CLAUDE.md
  README.md
  astro.config.ts
  package.json
  pnpm-lock.yaml
  prettier.config.js
  public/themes/themes.css
  src/components/ThemeSwitch.astro
  src/components/sections/Education.astro
  src/components/sections/Experience.astro
  src/components/sections/Hero.astro
  src/components/sections/Projects.astro
  src/components/sections/Skills.astro
  src/layouts/Layout.astro
  src/styles/global.css
  tailwind.config.ts
  tsconfig.json
  wrangler.toml
Due: prettier, check

ci: deploy to Cloudflare Workers instead of Pages
  .github/workflows/deploy.yaml
  scripts/check-pages-project.sh
  wrangler.toml
Due: prettier

ci: add per-branch Workers preview deployments (GitOps)
  .github/workflows/deploy.yaml
Due: prettier

ci: make Workers preview upload non-blocking
  .github/workflows/deploy.yaml
Due: prettier

feat: drop Cloudflare KV (sessions) and Images bindings; fail build on preview error
  .github/workflows/deploy.yaml
  astro.config.ts
Due: prettier, check

ci: deploy previews to a separate worker so assets are served
  .github/workflows/deploy.yaml
  wrangler.toml
Due: prettier

ci: revert to per-commit version preview URLs (not a separate worker)
  .github/workflows/deploy.yaml
Due: prettier

fix: restore green-tinted surface colour for timeline/rings (skin-edge)
  .claude/launch.json
  src/components/ThemeSwitch.astro
  src/components/sections/Experience.astro
  src/components/sections/Projects.astro
  src/styles/global.css
Due: prettier, check

fix: wrap global base resets in @layer base so utilities win (restores list bullets)
  src/layouts/Layout.astro
Due: prettier

ci: upgrade GitHub Actions to latest majors + add concurrency
  .github/workflows/deploy.yaml
Due: prettier

build: move toolchain to pnpm 11
  .github/workflows/deploy.yaml
  package.json
  pnpm-lock.yaml
Due: prettier, check

chore: harden edge headers and fix preview:cf for the Workers target
  package.json
  public/_headers
  wrangler.toml
Due: check

docs: rewrite CLAUDE.md for the current stack
  CLAUDE.md
Due: prettier

build: approve build scripts via pnpm 11 allowBuilds
  pnpm-workspace.yaml
Due: prettier

Upgrade to Astro 6 + Tailwind v4; migrate to Cloudflare Workers (#5)
  .claude/launch.json
  .github/workflows/deploy.yaml
  .github/workflows/pages-deployment.yaml
  .gitignore
  CLAUDE.md
  README.md
  astro.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  prettier.config.js
  public/_headers
  public/themes/themes.css
  scripts/check-pages-project.sh
  src/components/ThemeSwitch.astro
  src/components/sections/Education.astro
  src/components/sections/Experience.astro
  src/components/sections/Hero.astro
  src/components/sections/Projects.astro
  src/components/sections/Skills.astro
  src/layouts/Layout.astro
  src/styles/global.css
  tailwind.config.ts
  tsconfig.json
  wrangler.toml
Due: prettier, check

feat: change package manager to aube, upgrade astro
  .claude/launch.json
  .github/workflows/deploy.yaml
  .lefthook.yml
  .prettierignore
  CLAUDE.md
  README.md
  aube-lock.yaml
  aube-workspace.yaml
  biome.json
  mise.lock
  mise.toml
  package.json
  pnpm-lock.yaml
  prettier.config.js
Due: prettier, check

Upgrade to Astro 7; migrate package manager to aube
  .claude/launch.json
  .github/workflows/deploy.yaml
  .lefthook.yml
  .prettierignore
  CLAUDE.md
  README.md
  aube-lock.yaml
  aube-workspace.yaml
  biome.json
  mise.lock
  mise.toml
  package.json
  pnpm-lock.yaml
  prettier.config.js
Due: prettier, check

feat: update wrangler config
  wrangler.toml
Due: none

Transition to CF worker deployment (#7)
  wrangler.toml
Due: none

Migrate wrangler config from TOML to JSONC; add custom domain route
  README.md
  package.json
  wrangler.jsonc
  wrangler.toml
Due: prettier, check

Drop Prettier from pre-commit hook and format scripts
  .lefthook.yml
  package.json
Due: prettier, check

Align cv.json and types with the JSON Resume schema
  .gitignore
  cv.json
  package.json
  scripts/generate-cv-types.js
  src/components/Timeline.astro
  src/components/sections/Experience.astro
  src/components/sections/Interests.astro
  src/components/sections/Languages.astro
  src/components/sections/References.astro
  src/components/sections/Volunteer.astro
  src/cv.d.ts
  src/meta.ts
  src/pages/index.astro
Due: prettier, check

Update lockfile for @jsonresume/schema, json-schema-to-typescript, fontsource
  aube-lock.yaml
Due: prettier
